{% include "header.html" %}
<form action="{{ args.public_path_as_str() }}/{{ path }}/{{ pasta.id_as_animals() }}" method="POST"
    enctype="multipart/form-data">
    <h4>
        {{ text.edit_title }} '{{ pasta.id_as_animals() }}'
    </h4>
    <label>{{ text.title_label }}</label>
    <br>
    <input style="width: 100%; height: 32px; margin-bottom: 1em; font-family: inherit;" type="text" name="title"
        id="title" value="{{ pasta.title }}" />
    <br>
    <label>{{ text.content_label }}</label>
    <br>
    <textarea style="width: 100%; min-height: 100px; font-family: monospace;" name="content" id="content" {% if status
        !="incorrect" %} autofocus {% endif %}>{{ pasta.content_textarea_safe() }}</textarea>
    <br>
    <div>
        {% if pasta.readonly || pasta.encrypt_server %}
        <div style="float: left; height: 90px;">
            <label for="password">{{ text.edit_password_prompt }} <sup><a
                        href="{{ args.public_path_as_str() }}/guide#password">?</a></sup></label><br>
            <input {% if status=="incorrect" %} autofocus {% endif %} style="width: 130px; height: 28px;"
                type="password" id="password" name="password" autocomplete="off" />
            {% if status == "incorrect" %}
            <p>
                {{ text.incorrect_password }}
            </p>
            {% endif %}
        </div>
        {% endif %}


        <div style="float: right; height: 90px; justify-content: end;">
            <label for="password_field"></label><br>
            <input id="submit-button" type="submit" value="{{ text.save_button }}" />
            </td>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
</form>
{% include "footer.html" %}